html {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  background-color: black;
  border: 0;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 999;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: 900;
}

header {
  background-color: black;
  border: 0;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  z-index: 999;
}

.navigation {
  text-align: right;
}

.navigation a {
  color: #000;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

pre {
  padding: 10px;
  margin: 10px;
  background-color: #f2f2f2;
}


.pull-left {
  float: left;
  clear: none;
}

.pull-right {
  float: right;
  clear: none;
}

.right-align {
  text-align: right;
}


ul.errors li {
  color: red;
  font-weight: bold;
  list-style-type: disc;
  list-style-position: outside;
  position: relative;
  left: 15px;
  width: 95%;
}

ul.status li {
  color: darkblue;
  font-weight: bold;
  list-style-type: disc;
  list-style-position: outside;
  position: relative;
  left: 15px;
  width: 95%;
}

span.hamburger {
  color: white;
  font-weight: 900;
  font-size: 175%;
  position: relative;
  top: -3px;
}

span.hamburger a {
  color: white;
  text-decoration: none;
}

span.hamburger a:hover {
  color: lightgray;
  text-decoration: none;
}

ul.menu {
  display: none;
  background-color: black;
  position: relative;
  top: -5px;
  right: -7px;
  padding-bottom: 7px;
}

ul.menu li {
  display: block;
  margin: 0;
  padding: 0;
}

ul.menu li a {
  color: lightgray;
  text-align: right;
  display: block;
  margin: 0;
  padding: 0 15px;
}

ul.menu li a:hover {
  text-decoration: underline;
  color: white;
}

ul.status {
  margin: 10px 0 15px 0;
  padding: 0;
  background-color: lightgrey;
}

ul.status li {
  display: block;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
}

ul.status span {
  color: #666;
  display: inline-block;
  margin: 0;
  padding: 3px 15px;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: black;
  color: white;
  border: 0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #333;
}

.center, .centered {
  text-align: center;
}

span.closer {
  font-weight: 900;
  position: absolute;
  right: 0;
  cursor: pointer;
}

a.logo {
  color: white;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

td.col-min {
  width: 1%;
  white-space: nowrap;
}

table tbody tr td:first-child,
table thead tr th:first-child {
  padding-left: 20px;
}

table tbody tr td:last-child,
table thead tr th:last-child {
  padding-right: 20px;
}

table tbody tr:nth-child(even) td {
  background-color: #eee;
}

table tbody tr td {
  border: 0;
  padding: 10px;
}

table tbody tr:hover:nth-child(even) td {
  background-color: #ccc;
}

table tbody tr:hover:nth-child(odd) td {
  background-color: #ddd;
}

table thead th {
  background-color: black;
  color: white;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
}

a.plug {
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  font-weight: 900;
  font-size: 80%;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.wide-show-column {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wide-show-column {
    display: table-cell;
  }
}
  